<div class="container mt-5">
    <div class="row">
         <div class="col-md-3 col-sm=12">
            <img src="{{data.image}}" width="200px">
         </div>
         <div class="col-md-3 col-sm=12">
           <div class="info">
            <ul class="list-unstyled">
                <li><strong>Title: </strong>{{data.title}} </li>
                <li><strong>Category: </strong>{{data.category}} </li>
                <li><strong> Description:</strong>{{data.description}} </li>
                <li><strong>Rate: </strong> {{data.rating.rate}}</li>
                <li><strong> Count:</strong>{{data.rating.count}} </li>
                <li><strong>Price </strong>{{data.price}} </li>

            </ul>
           </div>
         </div>
    </div>
</div>